.about-face-mask-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.about-face-mask-section div {
    margin: 1rem 0;
}

.about-face-mask-section h4 {
    color: var(--color-secondary);
}

.image-container {}

.image-container .pulse-btn {
    position: relative;
    top: 50%;
    left: 50%;
    display: block;
    width: 2.5vw;
    height: 2.5vw;
    border: none;
    border-radius: 50%;
    background: var(--color-secondary);
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(0, 160, 197, .5);
    animation: pulse 1.5s infinite;
}

.image-container .pulse-btn:hover {
    animation: none;
}

@keyframes pulse {
    0% {
        transform: scale(.9);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 160, 197, 0);
    }
    100% {
        transform: scale(.9);
        box-shadow: 0 0 0 0 rgba(0, 160, 197, 0);
    }
}

.image-container .pulse-btn-1 {
    top: -17vw;
    left: 27%;
}

.image-container .pulse-btn-2 {
    top: -35vw;
    left: 49%;
}

.image-container .pulse-btn-3 {
    top: -26vw;
    left: 64%;
}

.image-container .pulse-btn-4 {
    top: -30vw;
    left: 92%;
}

.extra-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.extra-info-container p {
    border-left: 4px solid var(--color-secondary);
    padding-left: 3vw;
    display: block;
    text-align: left;
    width: 50%;
}

.extra-info-container .redirect-btns {
    display: flex;
    color: var(--color-secondary);
    flex-direction: column;
    max-width: 9.5rem;
}

.extra-info-container .redirect-btns a {
    color: var(--color-secondary);
    margin: .5rem 0;
}