h1{
    margin: 0 0 15px 0;
}
input {
    border-radius: 0 !important;
    border: 1px solid black;
    font-family: var(--fontFamily-reg);
    font-size: 14px;
    padding: 5px;
}

.account-section {
    margin: 0px 12.5vw 20px 12.5vw;
}
.account-left {
    margin: 20px 0 15px 0;
    width: 200px;
    border-right: 1px solid gainsboro;
}

.account-right {
    margin: 15px;
    width: calc(100% - 200px);
}

.account-row {
    display: flex;
}

.first {
    margin-right: 15px;
}

.account-col {
    flex-direction: column;
}

.account-alert-row {
    width: 100%;
    margin: 15px 0 0 0;
}

.account-content {
    display: flex;
}

