/*
*
* Start As Seen On  Section
*
*/

.asseenon-container {
  display: flex;
  justify-content: center;
  gap: 2%;
  margin-top: 5%;
}
.asseenon-container img {
  width: 12%;
}
.asseenon-container img:hover {
  opacity: 70%;
}

@media (max-width: 480px) {
  .asseenon-container img {
    width: 14%;
  }
}
