/*
*
* Start As Seen On  Section
*
*/

.asseenon-container {
  display: flex;
  justify-content: center;
  margin: 0 12.5vw;
  margin-top: 35px;
}
.asseenon-container img {
  width: 16.66667%;
}
.asseenon-container img:hover {
  opacity: 70%;
}


