/*
*
* Start As Seen On  Section
*
*/

.asseenon-container {
  display: flex;
  justify-content: center;
  margin: 0 12.5vw;
  margin-top: 35px;
}
.asseenon-container img {
  width: 16.66667%;
}
.asseenon-container img:hover {
  opacity: 70%;
}


/* responsive as seen section */

@media screen and (max-width: 768px){
  .asseenon-container {
    display:grid;
    grid-template-columns: 30% 30% 30%;
    place-items: center;
}.asseenon-container img{
    width:60%;
}
}
@media screen and (max-width: 480px){
  .asseenon-container {
    grid-template-columns: 50% 50%;

}.asseenon-container img{
    width:65%;
}
}

