.category-container {
<<<<<<< HEAD
  margin-top: 35px;
  margin-left: 12.5vw;
  margin-right: 12.5vw;
  display: flex;
  text-align: center;
  position: relative;
=======
    margin-top: 40px;
    margin-left: 12.5vw;
    margin-right: 12.5vw;
    display: flex;
    text-align: center;
    position: relative;
>>>>>>> af8162e0ce312ccb954ee9ca4130b27e6817a5b4
}

.category-group {
  width: 25%;
  display: grid;
}

.full-category {
  margin: 5px 0px 0px 10px;
  width: 25%;
  display: flex;
  justify-content: center;
  height: 250px;
  background: #00a0c5;
  color: white;
}
.full-category.cat1 {
  background-image: url(../../content/assets/imagefacemask.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.full-category.cat2 {
  background-image: url(../../content/assets/imagegaiter.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.full-category.cat3 {
  background-image: url(../../content/assets/imageppe.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.half-category {
  margin: 5px 10px 5px 10px;
  align-self: center;
  height: 120px;
  display: flex;
  justify-content: center;
  background: #00a0c5;
  color: white;
}

.category-text {
  align-self: flex-end;
  margin-bottom: 10px;
}

.category-text-half {
  align-self: center;
}
