/*
*
* Start Email Capture Section
*
*/
.email-section {
  margin-top: 35px;
  padding: 5vw 10vw;
  background-color: #00a0c5;
}

.inner-email-container {
  width: 80vw;
  display: flex;
  align-items: center;
}

.email-text {
  width: 45vw;
}
.klaviyo-form {
  width: 35vw;
}
/* Text */
.email-main-text {
  font-family: var(--fontFamily-bold);
  font-weight: 800;
  color: rgb(255, 255, 255);
  font-size: 3vw;
  line-height: 100%;
}
.email-sub-text {
  font-family: var(--fontFamily-reg);
  font-weight: 100;
  color: rgb(255, 255, 255);
  font-size: 1.6vw;
  line-height: 100%;
}
/* Klayvio Email Capture */

/* responsive email */

@media screen and (max-width: 1100px){
  .csgaMR.csgaMR {
    padding:0px 0px 10px 0px!important;
  }
}
@media screen and (max-width: 768px){
  .inner-email-container {
    display:grid;
    justify-content: center;
    grid-template-columns:80%;
  }
  .klaviyo-form{
    width:100%;
  }
  .email-text{
    text-align: center;
    width:100%;
  }
  .email-main-text{
    font-size: 4vw;
  }
  .email-sub-text{
    font-size: 2.6vw;
  }
}
@media screen and (max-width: 480px){
  .inner-email-container {
    grid-template-columns:90%;
  }
  .email-main-text{
    font-size: 5vw;
  }
  .email-sub-text{
    font-size: 3vw;
  }
}