/*
*
* Start Email Capture Section
*
*/
.email-section{
    margin-top: 5%;
    padding: 5% 12%;
    background-color: #00A0C5;
}

/* Text */
.email-main-text{
    font-family: var(--fontFamily-bold);
    font-weight: 800;
    color: rgb(255, 255, 255);
    font-size: 3vw;
    line-height: 100%;
   }
.email-sub-text{
    font-family: var(--fontFamily-reg);
    font-weight: 100;
    color: rgb(255, 255, 255);
    font-size: 1.6vw;
    line-height: 100%;
}
/* Klayvio Email Capture */