/*
*
* Start Featured Section
*
*/
.featured-container {
    display: flex;
    margin: 20px 12.5vw;
    justify-content: space-between;
}

.featured-container .infocta-container {
    padding: 0px 50px;
    width: 25vw;
}
/*
*
* End Featured Section
*
*/
/* responsive Featured Section */
@media screen and (max-width: 975px){
    .featured-container {
      display:grid;
      grid-template-columns: 100%;
      place-items: center;
    }
    .featured-container .infocta-container{
        padding:0;
        width:60%;
    }
    .infocta-container{
        grid-row-start: 2;
    }
  }
