/*
*
* Start Featured Section
*
*/
.featured-container {
    display: flex;
    margin: 20px 12.5vw 40px 12.5vw;
    justify-content: space-between;
}

.featured-container .infocta-container {
    padding: 0px 50px;
    width: 25vw;
}
/*
*
* End Featured Section
*
*/
/* responsive Featured Section */
@media screen and (max-width: 975px){
    .featured-container {
      display:grid;
      grid-template-columns: 100%;
      place-items: center;
      margin: 0 5vw;
    }
    .featured-container .infocta-container{
        padding:0;
        width:60%;
    }
    .infocta-container{
        grid-row-start: 2;
    }
  }
  @media screen and (max-width: 630px){
      .featured-container .product-slider-inner{
          height: 1000px;
      }
      .infocta-container{
          margin-top: 100px;
      }
      .featured-container, .product-slider{
          margin-top: 0px!important;
      }
      .featured-container{
        margin:0 18vw;
      }
  }
