.filter-container {
    display: flex;
    border-bottom: 1px solid gainsboro;
}

.filter-sidebar {
    display: inline-block;
    width: 20%;
    flex-wrap: wrap;
    background: #e0f1f6;
    padding: 0 5%;
}

.filter-results {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 35px;
}

.filter-option {
    background: transparent;
    border: none;
    color: var(--color-text-light);
    cursor: pointer;
    font-weight: var(--fontWeight-normal);
    padding: var(--spacing-0);
    display: inline-flex;
    font-family: var(--fontFamily-reg)
}

.filter-option::before {
    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    color: var(--color-heading);
    content: attr(value);
    position: absolute;
    transition: clip-path 275ms ease;
}

.filter-option.active::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.list-item {
    display: flex;
}

.list-item div {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 0;
    transition: transform 275ms;
    transform: scaleX(0);
}
.list-item.active div {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 3vw;
    transition: transform 275ms;
    transform: scaleX(1);
    margin-left: -3vw;
}

.list-item div span {
    background: var(--color-secondary);
    height: 2px;
    transition: transform 275ms;
    transform: scaleX(0);
    width: 1.4vw;
    margin-top: 3px;
}
.list-item div span.nActive {
    transform: scaleX(0);
    transition: transform 275ms;
}
.list-item div span.active {
    transform: scaleX(1);
    transition: transform 275ms;
}

h4 {
    font-size: var(--fontSize-2);
    margin-bottom: 0;
}

.check-option {
    display: block;
}

.checkbox-div {
    display: inline-flex;
}


.filter-sidebar h4{
    margin: 20px 0px 15px 0px;
    font-size: 1.6vw;
}
/* clear filter button and svg */
.clearfilter{
    color:white;
    margin-top:20px;
    padding:7px 10px 7px 7px;
    background-color: var(--color-secondary);
    border:none;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    display: flex;
    width: 100%;
    justify-content: center;
}
.svg-icon {
    width: 1em;
    height: 1em;
    margin-top: 2px;
    margin-right:6px;
    border-radius: 50px;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill:white;
    width: 20px;
  }
  
  .svg-icon circle {
    stroke: white;
    stroke-width: 1;
  }

  /* product modal filter page */
  .product-modal-filter {
    position: absolute;
    width: 68vw;
    max-height: 330px;
    height: 100%;
    z-index: 10;
    background: white;
    display: flex;
    margin-top:10px;
    margin-left:20px;
  }