.footer-container {
  margin: 0 12.5vw;
}

.footer-top {
  height: auto;
  display: flex;
  flex-flow: wrap;
  margin: 15px 0;
}

.footer-top-logo, .footer-top-links {
  width: 100%;
  text-align: center;
  margin: 15px 0;
}

.footer-top-left {
  width: 25%;
  display: grid;
  justify-content: start;
  align-content: space-evenly;
  text-align: start;
}

.footer-top-right {
  width: 25%;
  display: grid;
  justify-content: end;
  align-content: space-evenly;
  text-align: end;
}

.footer-text-reg {
  font-family: var(--fontFamily-reg);
}

.footer-top-middle {
  width: 50%;
  display: grid;
}

.footer-top-right {
  width: 25%;
}

.footer-bottom {
  padding: 2vh 0;
  border-top: 1px solid gainsboro;
  display: flex;
  justify-content: space-between;
}

.footer-bottom-left {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: var(--fontFamily-reg);
  font-size: var(--fontSize-0);
  justify-content: space-between;
}

.footer-bottom-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: var(--fontFamily-reg);
  font-size: var(--fontSize-0);
}

.top-scroll-btn {
  border-radius: 2rem;
  background: var(--color-secondary);
  color: #fff;
  cursor: pointer;
  padding: 0.5rem;
  right:25px;
  bottom:12%;
}

.footer-bottom-socials {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--fontFamily-reg);
  font-size: var(--fontSize-0);
}

.footer-bottom-socials a {
  margin: 0px 10px;
}

.bottom-footer-link {
  padding: 25px 5px;
}

.bottom-footer-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--color-secondary);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.bottom-footer-link:after:hover {
  width: 100%;
  left: 0;
}

/* Instagram */

.instagramIcon {
  display: inline;
}

.instagramIcon:hover:before {
  background: radial-gradient( circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
}

.iconB {
  fill: white;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-animation: iconeff 0.3s;
  animation: iconeff 0.3s;
  animation-fill-mode: forwards;
}

.iconeffect:hover .iconB {
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-animation: iconeff 0.3s;
  animation: iconeff 0.3s;
  animation-fill-mode: forwards;
  fill: url(#rg);
}

.iconB2 {
  fill: var(--color-primary);
}

.iconeffect:hover .iconB2 {
  fill: #ffffff;
}

/* facebook */

.facebookIcon {
  display: inline;
}

.facebookIcon:hover:before {
  background: radial-gradient(circle at 30% 107% #3b5998);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
}

.iconC {
  fill: white;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-animation: iconeff 0.3s;
  animation: iconeff 0.3s;
  animation-fill-mode: forwards;
}

.iconeffect:hover .iconC {
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-animation: iconeff 0.3s;
  animation: iconeff 0.3s;
  animation-fill-mode: forwards;
  fill: #3b5998;
}

.iconC2 {
  fill: var(--color-primary);
}

.iconeffect:hover .iconC2 {
  fill: var(--color-primary);
}

/* youtube */

.youtubeIcon {
  display: inline;
}

.youtubeIcon:hover:before {
  background: radial-gradient(circle at 30% 107% #3b5998);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
}

.iconD {
  fill: white;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-animation: iconeff 0.3s;
  animation: iconeff 0.3s;
  animation-fill-mode: forwards;
}

.iconeffect:hover .iconD {
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-animation: iconeff 0.3s;
  animation: iconeff 0.3s;
  animation-fill-mode: forwards;
  fill: #ff0000;
}

.iconD2 {
  fill: var(--color-primary);
}

.iconeffect:hover .iconD2 {
  fill: #ffffff;
}

/* twitter */

.twitterIcon {
  display: inline;
}

.twitterIcon:hover:before {
  background: radial-gradient(circle at 30% 107%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
}

.iconE {
  fill: white;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-animation: iconeff 0.3s;
  animation: iconeff 0.3s;
  animation-fill-mode: forwards;
}

.iconeffect:hover .iconE {
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-animation: iconeff 0.3s;
  animation: iconeff 0.3s;
  animation-fill-mode: forwards;
  fill: #1da1f2;
}

.iconE2 {
  fill: var(--color-primary);
}

.iconeffect:hover .iconE2 {
  fill: var(--color-primary);
}

/* all styles social media buttons */

.iconBorder {
  fill: transparent;
}

.iconeffect:hover .iconBorder {
  fill: transparent;
}

.iconeffect {
  display: block;
  color: var(--color-primary);
  background: var(--color-primary);
  border-radius: 20%;
}

.iconeffect:hover {
  background: white;
  border: 1px solid var(--color-primary);
  border-radius: 50%;
  line-height: 45px;
  transform-origin: left;
  transition: all 0.3s ease-in-out;
  animation: iconeff 0.3s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes iconeff {
  0% {
    width: 45px;
    height: 0px;
  }
  50% {
    width: 45px;
    height: 45px;
  }
  100% {
    width: 45px;
    height: 45px;
  }
}



/* responsive footer */
@media screen and (max-width: 872px){
  .header-link {
    margin:10px 0px;
}
}
@media screen and (max-width: 768px){
  .footer-bottom-left {
    display:grid;
    grid-template-columns: 30% 30% 30%;
    text-align:center;
}
}
@media screen and (max-width: 500px){
  .footer-bottom-left {
    grid-template-columns: 50%;
    text-align:center;
    justify-content: center;
}
}
@media screen and (max-width: 400px){
  .top-scroll-btn {
    bottom:10%;
}
}
