.hamburger-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: white;
    z-index: 500;
    top: 0;
    left: 0;
}

.hamburger-content {
    margin: 50px 14.5vw 50px 14.5vw;
    display: flex;
    flex-flow: row;
}

.hamburger-content-left {
    height: 70vh;
    display: flex;
    flex-flow: column;
}
.hamburger-content-right {
    width:100%;
    height: 70vh;
    display: flex;
    justify-content: center;
}

.link-level1, .link-level2 {
    width: calc(75vw/3);
    height: 60vh;
    display: flex;
    flex-flow: column;
}

.ham-link1 {
    border: none;
    color: var(--color-primary);
    cursor: pointer;
    font-weight: var(--fontWeight-normal);
    padding: var(--spacing-0);
    font-family: var(--fontFamily-bold);
    font-size: var(--fontSize-7);
}
.ham-link1:hover{
    color: var(--color-secondary); 
}

.ham-link2 {
    border: none;
    color: var(--color-primary);
    cursor: pointer;
    font-weight: var(--fontWeight-normal);
    padding: var(--spacing-0);
    font-family: var(--fontFamily-bold);
    font-size: var(--fontSize-4);
}
span.links:hover:before{
    content: "";
    display:inline-block;
    width: 25px;
    height: 4px;
    margin-right: 5px;
    margin-bottom: 15px;
    background: var(--color-secondary);
    border-radius: 10px;
}

.welcome{
    text-align:center;
    margin-top: 100px;
    position: absolute;

}
.welcome span{
    color:var(--color-secondary);
    font-family: var(--fontFamily-bold);
    font-size: var(--fontSize-7);
    font-weight: var(--fontWeight-normal);
}
.hamburger-container button{
    border: none;
    background: transparent;
    text-align: left;
    margin-top: 10px;
}
.footerVcontainer{
  background:white;
  position: relative;
  width: 100%;
}
.footerV, .footerVcontent{
    border: 2px solid gray;
    border-right: none;
    border-left: none;
    border-top: none;
    text-align: end;
    width: 75%;
    margin: auto;
    color:rgb(60, 60, 60);
}
.footerVcontent{
    border: 2px solid var(--color-secondary);
    border-right: none;
    border-left: none;
    border-top: none;
    text-align: end;
    width: 90%;
    margin: auto;
}
.slidebutton{
    color: var(--color-secondary);
    margin-bottom: 10px;
}
.footerContent{
    margin: 10px auto;
    width:90%;
}
.footerHead{
    text-decoration: underline;
}
.footerv-wrapper{
    display: flex;
    margin-top: 20px;
}
.footerv-wrapper ul, .v-store ul{
    margin:0;
}
.footerv-wrapper li, .v-store li{
  margin:0;
  font-family: var(--fontFamily-reg);
}
.v-programs, .v-Wholesale, .v-policy, .v-about{
    
    width:50%;
}
.v-store{
    margin-top: 20px;
}
.v-store .header-logo{
    margin-top: 10px;
}






/* social icons */
.v-footer-bottom-socials {
    width: 100%;
    font-family: var(--fontFamily-reg);
    font-size: var(--fontSize-0);
  }
  /* Instagram */
  .v-instagramIcon {
    display: inline;
  }
  .v-iconB {
    fill: gray;
  }
  .v-iconB2 {
    fill: #f5f5f5;
  }
  /* facebook */
  .v-facebookIcon {
    display: inline;
  }
  .v-iconC {
    fill: gray;
  }
  .v-iconC2 {
    fill: white;
  }
  /* youtube */
  .v-youtubeIcon {
    display: inline;
  }
  .v-iconD {
    fill: gray;
  }
  .v-iconD2 {
    fill: #f5f5f5;
  }
  /* twitter */
  .v-twitterIcon {
    display: inline;
  }
  .v-iconE {
    fill: gray;
  }
  .v-iconE2 {
    fill: var(--color-primary);
  }

  .yeet{
    animation: mymove 1s;
    position: relative;
  }
  @keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
  }
  
  /* all styles social media buttons */
  
  .v-iconBorder {
    fill: transparent;
  }


  /* responsive screens */
  @media screen and (max-width: 1165px) {
    .ham-link1 {
      font-size: var(--fontSize-6);
  }
    .welcome span{
      font-size: var(--fontSize-6);
    }
  }

  @media screen and (max-width: 900px) {
    .ham-link1 {
      font-size: var(--fontSize-5);
  }
    .welcome {
      width:30vw;
  }
    span.links:hover:before {
      width:15px;
      margin-bottom: 10px;
  }
  }

  