/*
*
* Start Hero Section
*
*/
.slick-slide > div {
    height: inherit;
}

.slick-slide > div > div {
    height: inherit;
    display: flex !important;
    
}
.hero-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
.slick-slide img {
    display: block;
    width: 75vw;
    margin: auto;
}

.slider-container {
    max-height: 300px;
    height: 100%;
}

.hero-right {
    width: 75vw;
    max-height: 300px;
    /* height: 300px; */
}
/*
.hero-left {
    width: 30vw;
    max-height: 300px;
    background: #e0f1f5;
    
}
  */
  .hero-right-img {
  
  }

  .slider-responsive {
    flex-wrap: wrap;
    height: 100%;
    margin: auto;
    align-content: space-around;
    display: flex;
    padding: 10px;
    text-align: right;
    justify-content: flex-end;
}
  
  /* Slider */
  .slick-slider
  {
      position: relative;
  
      display: block;
      box-sizing: border-box;
  
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -ms-touch-action: pan-y;
          touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
      height: inherit;
      width: inherit;
  }
  
  .slick-list
  {
      position: relative;
  
      display: block;
      overflow: hidden;
  
      margin: 0;
      padding: 0;
  }
  .slick-list:focus
  {
      outline: none;
  }
  .slick-list.dragging
  {
      cursor: pointer;
      cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
      -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
           -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
              height: inherit;
  }
  
  .slick-track
  {
      position: relative;
      top: 0;
      left: 0;
  
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  .slick-track:before,
  .slick-track:after
  {
      display: table;
  
      content: '';
  }
  .slick-track:after
  {
      clear: both;
  }
  .slick-loading .slick-track
  {
      visibility: hidden;
  }
  
  .slick-slide
  {
      display: none;
      float: left;
  
      height: 100%;
      min-height: 1px;
      pointer-events: none;
  }
  [dir='rtl'] .slick-slide
  {
      float: right;
  }
  
  .slick-active, .slick-current {
      pointer-events: auto;
  }

  .slick-slide.slick-loading img
  {
      display: none;
  }
  .slick-slide.dragging img
  {
      pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
      display: block;
  }
  .slick-loading .slick-slide
  {
      visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
      display: block;
  
      height: auto;
  
      border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
      display: none;
  }
  /* Arrows */
  .slick-prev,
  .slick-next
  {
      font-size: 0;
      line-height: 0;
  
      position: absolute;
      top: 50%;
  
      display: block;
  
      width: 20px;
      height: 20px;
      padding: 0;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
  
      cursor: pointer;
  
      color: transparent;
      border: none;
      outline: none;
      background: transparent;
  }
  .slick-prev:hover,
  .slick-next:hover
  {
      color: transparent;
      outline: none;
      opacity: .25;
  }
  .slick-prev:hover:after,
  .slick-next:hover:after
  {
      opacity: .75;
  }
  .slick-prev.slick-disabled:after,
  .slick-next.slick-disabled:after
  {
      opacity: .25;
  }
  
  .slick-prev:after,
  .slick-next:after
  {
      font-family: 'slick';
      font-size: 40px;
      line-height: 1;
  
      color: #00A1C6;
  
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  
  .slick-prev
  {
      left: -25px;
      content:" ";
        width: 19px; 
        height: 3px; 
        transition: .5s; 
        float: left; 
        background:#00A1C6;
        border-radius:100px;
        transform: rotate(-135deg);
        position:absolute;
        margin-top:5px;
  }
  [dir='rtl'] .slick-prev
  {
      right: -25px;
      left: auto;
  }
  .slick-prev:after
  {
    content:" ";
    width: 20px; 
    height: 3px; 
    transition: .5s; 
    float: left; 
    background:#00A1C6;
    border-radius:100px;
    transform: rotate(-95deg);
    position:absolute;
    margin-top: 7px;
  }
  [dir='rtl'] .slick-prev:after
  {
      content: '';
  }
  
  .slick-next
  {
      right: -25px;
      width: 20px; 
      height: 3px; 
      transition: .5s; 
      float: left; 
    background:#00A1C6;
    border-radius:100px;
    transform: rotate(-135deg);
    margin-top:-10px;

  }
  [dir='rtl'] .slick-next
  {
      right: auto;
      left: -25px;
     
  }
  .slick-next:after
  {
      content:" ";
        width: 20px; 
        height: 3px; 
        transition: .5s; 
        float: left; 
        background:#00A1C6;
        border-radius:100px;
        transform: rotate(-95deg);
        position:absolute;
        top:-10px;
        left:-10px;
        transform: rotate(-95deg);
      
  }
  [dir='rtl'] .slick-next:after
  {
      content: '';
  }
  
  /* Dots */
  .slick-dotted.slick-slider
  {
      margin-bottom: 30px;
  }
  
  .slick-dots
  {
      position: absolute;
      bottom: -30px;
  
      display: block;
  
      width: 100%;
      padding: 0;
      margin: 0;
  }
  .slick-dots li
  {
      position: relative;
  
      display: inline-block;
  
      width: 35px;
      height: 5px;
      margin: 0 5px;
      padding: 0;
  
      cursor: none;
  }
  .slick-dots li button
  {
      font-size: 0;
      line-height: 0;
  
      display: block;
  
      width: 35px;
      height: 210px;
      padding: 5px;
  
      cursor: pointer;
  
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
  }
  .slick-dots li button:hover,
  .slick-dots li button:focus
  {
      outline: none;
  }
  .slick-dots li button:hover:before,
  .slick-dots li button:focus:before
  {
      opacity: 1;
  }
  .slick-dots li button:before
  {
      font-family: 'slick';
      font-size: 6px;
      line-height: 20px;
  
      position: absolute;
      top: 0;
      left: 0;
  
      width: 35px;
      height: 10px;
  
      content: '•';
      text-align: center;
  
      opacity: .25;
      color: black;
  
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  .slick-dots li.slick-active button:before
  {
      opacity: .75;
      color: black;
  }
  
  
  
  .slick-dots {
      position: absolute;
      bottom: -25px;
      display: block;
      width: 100%;
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: center !important;
  }
  
  .slick-dots li {
  
      width: 35px !important;
      cursor: none;
  
  }
  .slick-active > button{
      background: #00A1C6 !important;
  }
  .slick-dots li button {
      font-size: 0 !important;
      line-height: 0 !important;
      display: block;
      width: 35px !important;
      height: 5px !important;
      cursor: pointer;
      color: transparent !important;
      border: 0;
      outline: none;
      border-radius: 5px !important;
      background: #e0f1f6;
      padding: 0 !important;
  }
  
  
  .slick-dots li button:before {
      font-family: 'slick';
      font-size: 0 !important;
      line-height: 20px !important;
      position: absolute;
      top: 0;
      left: 0;
      width: 35px !important;
      height: 5px !important;
      content: '\2022';
      text-align: center;
      opacity: .25;
      color: black;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  
  
  /*
  *
  * End Hero Section
  *
  */

  /* hero responsive */

  @media (max-width: 975px) {
    .hero-right .slick-arrow {
      display:none!important;
    }
    .hero-right .slider-container{
        margin-top: 0!important;
    }
    .hero-right{
        width: 100%;
    }
    .slick-slide img{
        width:100%;
    }
  }