.main-insta-container {
    display: flex;
    margin-top: 45px;
    justify-content: space-evenly;
    background: #E0F1F6;
    padding: 35px;
}

.insta-margin {
    margin: 0 12.5vw;
    display: flex;
    justify-content: space-around;
    width: 100%;
}