.main-insta-container {
    display: flex;
    margin-top: 45px;
    justify-content: space-evenly;
    background: #E0F1F6;
    padding: 35px;
}

.insta-margin {
    margin: 0 12.5vw;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.insta-margin .infocta-container {
    width: 25vw;
}
/* respsonsive insta section */
@media screen and (max-width: 768px){
    .insta-margin {
      display:grid;
      justify-content: center;
      grid-template-columns:100%;
      width:100%;
    }
    .insta-margin .infocta-container{
        width:100%;
        margin-bottom: 30px;
    }
    .insta-container{
        justify-content:center;
    }
}