/*
*
* Start Instagram Feed Section
*
*/

.insta-container {
  display: flex;
}

.insta-slider {
  width: 15vw;
  background-color: #012f41;
}

.bottom-insta {
  width: 100%;
}

.insta-left {
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #012f41;
  margin-right: 5px;
}
.insta-right {
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* text box  */
.review-text-box {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  align-content: space-evenly;
}
.review-text-container {
  padding: 20% 15% 10% 15%;
}
.quote-mark {
  color: #fff;
  margin-left: 6%;
  width: 12vw;
}
.review-text {
  font-family: var(--fontFamily-reg);
  color: #fff;
  font-weight: 100;
  margin-bottom: 30%;
}
.reviewer-name {
  color: #fff;
}

/* images */

.bottom-left-img {
  width: 15vw;
  display: flex;
  position: relative;
  bottom: -5px;
  border-top: 5px solid white;
}
.bottom-left-img img {
  width: 100%;
}

.bottom-right-img {
  width: 15vw;
  bottom: -5px;
  position: relative;
}
.bottom-right-img img {
  width: 15vw;
}

.top-right-img {
  width: 15vw;
}
.top-right-img img {
  width: 15vw;
}

@media (max-width: 1274px) {
  .bottom-right-img,
  .bottom-right-img img,
  .top-right-img,
  .top-right-img img,
  .bottom-left-img,
  .bottom-left-img img,
  .insta-right,
  .insta-left {
    width: 20vw;
  }
}

@media (max-width: 1048px) {
  .bottom-right-img,
  .bottom-right-img img,
  .top-right-img,
  .top-right-img img,
  .bottom-left-img,
  .bottom-left-img img,
  .insta-right,
  .insta-left {
    width: 22.5vw;
  }
}

@media (max-width: 730px) {
  .insta-container {
    grid-template-columns: 25% 25%;
  }
}
@media (max-width: 580px) {
  .insta-container {
    grid-template-columns: 30% 30%;
  }
}
@media (max-width: 480px) {
  .insta-container {
    grid-template-columns: 45% 45%;
    justify-content: center;
  }
}

@media (max-width: 1665px) {
  .review-text-container {
    padding: 10% 10%;
  }
}
@media (max-width: 1530px) {
  .review-text {
    margin-bottom: 20%;
  }
}
@media (max-width: 1450px) {
  .review-text-container {
    padding: 15% 8% 15% 8%;
  }
  .review-text {
    margin-bottom: 20%;
  }
}
@media (max-width: 1385px) {
  .review-text-container {
    padding: 15% 8% 20% 8%;
  }
  .review-text {
    margin-bottom: 10%;
    font-size: 14px;
  }
}
@media (max-width: 1210px) {
  .review-text-container {
    padding: 2% 8% 16% 8%;
  }
}
@media (max-width: 1150px) {
  .review-text-container {
    padding: 2% 5% 10% 5%;
  }
}
@media (max-width: 1060px) {
  .review-text-container {
    padding: 2% 2% 10% 2%;
  }
  .review-text {
    margin-bottom: 6%;
  }
}
@media (max-width: 1000px) {
  .review-text-container {
    padding: 6% 6% 10% 6%;
  }
  .review-text {
    margin-bottom: 15%;
  }
  .quote-mark {
    width: 10em;
  }
}
@media (max-width: 825px) {
  .review-text-container {
    padding: 0% 2% 10% 2%;
  }
  .review-text {
    margin-bottom: 5%;
  }
}
@media (max-width: 750px) {
  .review-text-container {
    padding: 0% 0% 10% 0%;
  }
}
@media (max-width: 730px) {
  .review-text-container {
    padding: 0% 10% 10% 10%;
  }
}
@media (max-width: 650px) {
  .review-text-container {
    padding: 0% 10% 5% 10%;
  }
}
@media (max-width: 480px) {
  .review-text-container {
    padding: 10% 10% 15% 10%;
  }
  .review-text {
    font-size: 16px;
    margin-bottom: 15%;
  }
}
@media (max-width: 465px) {
  .review-text-container {
    padding: 10% 8% 15% 8%;
  }
}
@media (max-width: 440px) {
  .review-text-container {
    padding: 10% 6% 6% 6%;
  }
}
@media (max-width: 420px) {
  .review-text-container {
    padding: 10% 5% 15% 5%;
  }
  .review-text {
    font-size: 14px;
  }
}
@media (max-width: 410px) {
  .review-text-container {
    padding: 0% 5% 20% 5%;
  }
}
@media (max-width: 376px) {
  .review-text-container {
    padding: 0% 5% 10% 5%;
  }
}
