.news-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 35px 12.5vw;
    height: 100%;
    border-top: 1px solid gainsboro;
}

.news-section .slider-container {
    width: 37.5vw;
    display: flex;
    max-height: none;
}

.video-slide {}

.video-details {
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    border: solid #acc6ce 1px;
}

.video-slide p {
    display: inline-block;
    margin: 0;
}

.video-slide a {
    display: inline-block;
    color: var(--color-secondary);
}

.news-section .slick-slide > div > div {
    height: inherit;
    display: flex !important;
    justify-content: center;
}

.news-section .infocta-container {
    width: 37.5vw;
    margin-top: 20px;
    text-align: left;
    padding: 100px;
}