.news-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 35px 12.5vw;
    height: 100%;
    border-top: 1px solid gainsboro;
}

.news-section .slider-container {
    width: 37.5vw;
    display: flex;
    max-height: none;
}

.video-slide {}

.video-details {
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    border: solid #acc6ce 1px;
}

.video-slide p {
    display: inline-block;
    margin: 0;
}

.video-slide a {
    display: inline-block;
    color: var(--color-secondary);
}

.news-section .slick-slide > div > div {
    height: inherit;
    display: flex !important;
    justify-content: center;
}

.news-section .infocta-container {
    width: 37.5vw;
    margin-top: 20px;
    text-align: left;
    padding: 100px;
}
.slick-slider{
    height: fit-content!important;
}

/* responsive news section */
@media screen and (max-width: 1340px){
    .video-slide {
      width:inherit;
    }
    iframe.homepage-video{
        width:38vw;
        height:28vw;
    }
  }
@media screen and (max-width: 1200px){
    .news-section .infocta-container {
      padding:100px 0px 100px 70px;
    }
  }
  @media screen and (max-width: 768px){
    .news-section{
      display: grid;
      grid-template-columns:100%;
      place-items: center;
    }
    .news-section .infocta-container {
        padding:50px 0px 50px 0px;
        width:80%;
      }
    .news-section .slider-container{
        width: 100%;
      }
    .video-slide {
        width:fit-content;
      }
      #infocta-text-main{
          font-size: 4vw;
      }
      .grey-line{
          margin: 5% 0%;
      }
      .slider-container{
        margin-top: 50px;
      }
      iframe.homepage-video{
        width:60vw;
        height:38vw;
    }
  }
  @media screen and (max-width: 480px){
      #infocta-text-main{
          font-size: 5vw;
      }
      iframe.homepage-video{
        width:100%;
        height:60vw;
    }
  }
