/* Product template page styles */
.headtrail-container{
    background-color: var(--color-secondary);
    height: 70px;
    width: 100%;
    color: white;
    font-family: var(--fontFamily-reg);
    text-transform: capitalize;
    padding: 22px 12%;
}
.headtrail-text{
    color: white;
    font-family: var(--fontFamily-reg);
}
#headtrail-last{
    font-family: var(--fontFamily-bold);
    color: white;
}
.product-container-template{
    display: flex;
    justify-content:center;
    margin:30px 0px;
}

/* images */
.product-image-section{
    width: 35%;
}
.product-temp-image{
    width:70%;
}



/* right side options */
.right-side-container{
    width:25%;
}
.product-price{
    color: #00a0c5;
    font-size:2vw;
}
.product-name{
    font-size: 1.5vw;
    margin-bottom: 30px;
}
.name-adjust-container{
    margin-top:20px;
}
.name-adjust{
    color: #00a0c5;
}
.size-option-container{
    display: flex;
    margin: 10px 0px 30px 0px;
}
.size-options{
    border-radius: 20px 20px 20px 20px!important;
    border:solid 1px black;
    background-color: white;
    padding:5px 10px;
    font-family: var(--fontFamily-reg);
    margin-right: 10px;
}
.size-options:hover{
    border:solid 1px var(--color-secondary);
    color:var(--color-secondary);
}
.size-options:active{
    background-color: var(--color-secondary);
    border:solid 1px var(--color-secondary);
    color:white;
    font-family: var(--fontFamily-bold);
}
.color-options-container{
    margin: 10px 0px 30px 0px;
}
.color-options{
    border:none;
    background-color: transparent;
    padding:0px;
}
.variant-thumb-template{
    width: 3vw;
    height: 3vw;
    cursor: pointer;
    margin: 3px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: transparent;
}
.variant-thumb-template:hover{
    border: solid 2px var(--color-secondary);
}

.quantity-addcart-container{
    display: flex;
}
.quantityButtonTemplate{
    margin-top:10px;
    margin-right: 25px;
    border: 1px solid gainsboro;
    display: flex;
    padding: 8px;
    border-radius: 20px;
}
.add-cart-template{
    padding: 0px 45px!important;
}
.safe-checkout-container{
    margin-top: 50px;
}
.safecheckoutlogo{
    width:90%;
}


/* bottom description section */
.bottomtab-button{
    border:none;
    border-radius: 0!important;
    background-color: transparent;
    padding:0px!important;
    cursor: pointer;
    margin-right: 20px;
}
.bottomtab-container{
    width:100%;
    height: auto;
    margin-top: 20px;
    

}
.shopify-Tabs-panel{
    display: flex;
    justify-self: center;
}
.mask-description, .bottomtab-content{
    width:60%;
    margin: 0 20%;
}
/* suggested product section */
.suggested-products-container{
    margin: 0 20%;
}
.suggestimage{
    width:100%;
}
.product-display-container{
    display:flex;
    justify-content: space-around;
    margin-top: 30px;
}
.suggest-holder{
    width: 20%;
}



  .mask-description::after {
    content: '';
    clear: both;
    display: block;
  }
  .mask-description > .bottomtab-container > ul,
  li {
    list-style-type: none;
    text-decoration: none;
  }
  .mask-description > .bottomtab-container > ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-top: 4px solid transparent;
  }
  .mask-description > .bottomtab-container > ul > li {
    text-align: center;
    position: relative;
    display: block;
    float: left;
  }
  .mask-description > .bottomtab-container > ul > li span{
    display: block;
    text-align: left;
    padding: 20px 0px 20px 0px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
  }
  .mask-description > .bottomtab-container > ul > li.active,
  .mask-description > .bottomtab-container > ul > li:hover {
    box-shadow: 0 4px 0 #00a0c5;
    margin-right: 20px;
  }
  .lineline{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-top: 4px solid gainsboro;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    margin-top: 64px;

  }

  /* reviews */
  .yotpo .yotpo-bottomline .yotpo-icon-star, .yotpo .yotpo-bottomline .yotpo-icon-half-star, .yotpo .yotpo-bottomline .yotpo-icon-empty-star {
    color: orange!important;
}
.yotpo .yotpo-review .yotpo-header .yotpo-review-stars .yotpo-icon, .yotpo .yotpo-comment .yotpo-header .yotpo-review-stars .yotpo-icon, .yotpo .yotpo-question .yotpo-header .yotpo-review-stars .yotpo-icon, .yotpo .yotpo-onsite-upload .yotpo-header .yotpo-review-stars .yotpo-icon {
    color: orange!important;
}
.yotpo .yotpo-small-box {
    display: none!important;
}
.yotpo .yotpo-regular-box{
    border-top:0px!important;
}
.yotpo .write-review .yotpo-header .yotpo-icon {
    color: orange!important;
}

/* sizing info */
.disable{
    display:none;
}
.sizing-table{
    width: 50%!important;
    margin-bottom: var(--spacing-4);
    border: none!important;
}
tr.sizing{
    display: flex;
    justify-content: space-between;
}
table.inner-table{
    width:100%;
}
th.sizing{
    text-align: left;
    border: none!important;
}
.sizes-w-h-flex{
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-family: 'Eina01-Regular';
}
.sizing-image-container{
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
}
.image-text-grid{
    display: grid;
    justify-items: center;
    grid-template-rows: auto 10% 10% 10%;
}
.measure-text{
    width: 50%;
    text-align: center;
    font-size: 18px;
}
.light-blue{
    color:var(--color-secondary);
}
.dark-blue{
    color:var(--color-primary);
}

ul, ol {
    margin:0px!important;
}

