/* .product-carousel-container {
    display: flex;
} */

.carousel-nav-links-container {}

.carousel-nav-wrapper {
    min-width: 26vw;
}

.nav-btn-list-items {
    display: flex;
}

.nav-btn-list-items div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3vw;
}

.nav-btn-list-items div span {
    background: var(--color-secondary);
    height: .1rem;
    width: 1.4vw;
    transition: transform 275ms;
    transform: scaleX(0);
}

.nav-btn-list-items div span.active {
    transform: scaleX(1);
}

.carousel-nav-btn {
    background: transparent;
    border: none;
    color: var(--color-text-light);
    cursor: pointer;
    font-weight: var(--fontWeight-normal);
    padding: var(--spacing-0);
}

.carousel-nav-btn::before {
    position: absolute;
    content: attr(value);
    color: var(--color-heading);
    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    transition: clip-path 275ms ease;
}

.carousel-nav-btn.active::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.redirect-btn {}

.product-slider-container {}