
.product-carousel-container{
    display: flex;
    margin: 0 12.5vw;
    justify-content: space-between;
}

.carousel-nav-links-container {
    width: 15vw;
    display: flex;
    margin-top: 35px;
}

.carousel-nav-wrapper {
    min-width: 20vw;
}

.nav-btn-list-items {
    display: flex;
}

.nav-btn-list-items div {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 3vw;
}

.nav-btn-list-items div span {
    background: var(--color-secondary);
    height: 2px;
    transition: transform 275ms;
    transform: scaleX(0);
    width: 1.4vw;
    margin-top: 3px;
}

.nav-btn-list-items div span.active {
    transform: scaleX(1);
}

.carousel-nav-btn {
    background: transparent;
    border: none;
    color: var(--color-text-light);
    cursor: pointer;
    font-weight: var(--fontWeight-normal);
    padding: var(--spacing-0);
}

.carousel-nav-btn::before {
    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    color: var(--color-heading);
    content: attr(value);
    position: absolute;
    transition: clip-path 275ms ease;
}

.carousel-nav-btn.active::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.redirect-btn {
    background: #00A1C6;
    border: none;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    display: flex;
    margin-left: 3vw;
    padding: 5px 15px;
}

/* responsive product-carousel */
@media screen and (max-width: 975px){
    .product-carousel-container {
     display: grid;
     grid-template-columns: 100%;
    }
    .carousel-nav-links-container{
        width: 100%;
        justify-content:center;
    }
    .carousel-nav-wrapper{
        display: grid;
        justify-content:center;
    }
    .product-car-viewall-btn{
        padding-left:0;
    }
    .nav-btn-list-items{
        margin-left: 10px;
    }
    .product-slider, .product-slider-inner, .product-container{
        width:100%!important;
    }
    .product-carousel-container .slider-container{
        margin-top: 0px!important;
    }

  }
  @media screen and (max-width: 768px){
    .nav-btn-list-items div{
        display: block;
    }
    .carousel-nav-wrapper{
        width: 100%;
        justify-content: space-evenly;
    }
    .nav-btn-list-items{
        margin-left: 0px;
    }
    .product-slider-inner .slick-arrow{
        display: none!important;
    }
    .product-carousel-container{
        margin: 0 5vw;
    }
  }
  @media screen and (max-width: 630px){
    .product-carousel-container{
        margin:0 18vw;
    }
    .slick-slide > div > div{
        display: block!important;
    }
    .product-carousel-container .product-slider-inner{
        height:925px;
    }
  }
  /* @media screen and (max-width: 515px){
    .carousel-nav-wrapper{
        display: grid;
        grid-template-columns: 50% 50%;
    }
  } */