.product-modal {
  position: absolute;
  width: 75vw;
  max-height: 330px;
  height: 100%;
  z-index: 10;
  background: white;
  display: flex;
  margin-left: -24.5vw;
}

.product-modal-inner {
  width: 80vw;
  max-height: 330px;
  height: 100%;
  z-index: 9;
  border: 1px solid gainsboro;
  display: flex;
}

.close {
  position: absolute;
  right: 32px;
  top: 10px;
  width: 45px;
  height: 45px;
  opacity: 0.3;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border: solid 1px #333;
  border-radius: 100px!important;
  padding: 5px;
}
#hamburgerclose {
  top: 20px;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 20px;
  top:6px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.modal-price {
  color: var(--color-secondary);
  font-size: var(--fontSize-4);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.modal-options {
  width: 25%;
  height: 100%;
  border-right: 1px solid gainsboro;
  padding: 25px;
  flex-wrap: wrap;
  display: flex;
  align-content: space-between;
}

.modal-type {
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
}

.adult-type,
.kid-type {
  padding: 5px 20px;
  border: 1px solid gainsboro;
  cursor: pointer;
  border-radius: 20px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
.adult-type:hover,
.kid-type:hover {
  background-color: gainsboro;
}

.modal-size {
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
}

.product-size-option {
  border: 1px solid gainsboro;
  padding: 10px;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  text-align: center;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.modal-variants {
  width: 20%;
  height: 100%;
  border-right: 1px solid gainsboro;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  align-content: flex-start;
}

.modal-variants span {
  text-align: center;
  width: 100%;
  height: 50px;
}

.modal-image {
  display: flex;
  justify-content: center;
  width: 55%;
  height: 100%;
}
.modal-image img{
  height: 100%;
}

.modal-quantity {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.modal-quantity span {
  font-family: var(--fontFamily-reg);
}

.modal-submit {
  text-align: center;
  font-size: var(--fontSize-2);
  color: var(--color-secondary);
  width: 100%;
}

.quantityButton {
  border: 1px solid gainsboro;
  display: flex;
  padding: 5px;
  border-radius: 20px;
}

.quantityButton span {
  font-family: var(--fontFamily-bold);
}

.quantityButtonPartL {
  padding: 0 20px 0 10px;
  font-size: 15px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
.quantityButtonPartR {
  padding: 0 10px 0 20px;
  font-size: 15px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.variants-thumbnails {
  display: inline-block;
  flex-wrap: wrap;
  padding: 5px;
}

.variant-thumb {
  border-radius: 50%;
  width: 4vw;
  height: 4vw;
  cursor: pointer;
  margin: 3px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  background: transparent;
  border: none !important;
}
.variant-text {
  padding: 10px 0px;
}

/* add to cart button */
.add-to-cart{
  color:#ffffff;
  height: 45px;
  border: none;
  border-radius: 10px 10px 10px 10px !important;
  background:var(--color-secondary);
  padding: 0px 15px;
  margin-top:10px ;
}
.selectsize-text{
    font-family: var(--fontFamily-bold)!important;
    font-size: var(--fontSize-1)!important;
    color: var(--color-text)!important;
    align-self: center;
}