.search-section {}

.search-section input {
    width: 100%;
    height: 4rem;
    text-align: center;
    background: #E0F1F6;
    border: var(--color-accent) solid 1px;
}

.results-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.results-list .product-image {
    height: auto;
}

.search-results {
    z-index: 1;
    position: absolute;
    background: #FFF;
    border: var(--color-accent) solid 1px;
    width: 100%;
}

.results-info {
    display: block;
    text-align: center;
}

.search-section .close {
    top: 133px;
}