.search-section {
  height: 65px;
}

.search-section input {
  width: 100%;
  height: 4rem;
  text-align: center;
  border: none;
  border-top: var(--color-accent) solid 1px;
  border-radius: 0 0 0 0 !important;
}

.results-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75vw;
  margin: 0 12.5vw!important;
}
.results-list .product-image {
  height: auto;
}

.main-site-button {
}

.search-results {
  z-index: 1;
  position: fixed;
  background: #fff;
  border: var(--color-accent) solid 1px;
  width: 100%;
  overflow: scroll;
  height: calc(100vh - 181px);
}

.results-info {
  display: block;
  text-align: center;
  width: 75vw;
  margin: 0 12.5vw;
}

.search-section .close-search {
    top: 125px;
    position: absolute;
    right: 32px;
    width: 45px;
    height: 45px;
    opacity: 0.3;
    cursor: pointer;
    border: none;
    background-color: transparent;
    border: solid 1px #333;
    border-radius: 100px!important;
    padding: 5px;
}
.close-search:before,.close-search:after{
  position: absolute;
    left: 20px;
    top: 6px;
    content: " ";
    height: 33px;
    width: 2px;
    background-color: #333;
}
.close-search:before{
  transform: rotate(45deg);
}
.close-search:after{
  transform: rotate(-45deg);
}
.close-search:hover{
  opacity: 1;
}
/* for product modal */
.search-modal{
  display:flex;
  justify-content: center;
}
.product-modal-search{
  margin-top:10px;
  position: absolute;
  width: 75vw;
  max-height: 330px;
  height: 100%;
  z-index: 10;
  background: white;
  display: flex;
}

.body{
  overflow: hidden;
}