/* OVERLAY */

.screen-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, .7);
    -webkit-transition: opacity .25s ease, visibility 0s ease .25s;
    transition: opacity .25s ease, visibility 0s ease .25s;
}

.screen-overlay.active {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .25s ease, visibility 0s ease;
    transition: opacity .25s ease, visibility 0s ease;
}

/* LAYOUT */

.layout-body-wrapper.active {
    display: flex;
    flex-direction: row-reverse;
}

/* SHOPPING CART ASIDE */

.shopping-cart-aside {
    /* 
    z index needs to be more than
    screen overlay
    */
    z-index: 999;
    background-color: aliceblue;
}

.shopping-cart-aside.inactive {
    display: none;
}

/* SHOPPING CART MAIN */

.shopping-cart-wrapper {
    /* padding: 100rem; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh; */
}

.shopping-cart-body {
    /* padding: 100rem; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* INDIVIDUAL ITEMS */

.cart-item-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-item-wrapper div:first-child {
    width: 5%;
    margin: 1rem;
}

.cart-item-wrapper img {
    border-radius: 50%;
    width: 100%;
}