/* OVERLAY */

.screen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, .7);
    -webkit-transition: opacity .25s ease, visibility 0s ease .25s;
    transition: opacity .25s ease, visibility 0s ease .25s;
}

.screen-overlay.active {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .25s ease, visibility 0s ease;
    transition: opacity .25s ease, visibility 0s ease;
}

/* LAYOUT */

.layout-body-wrapper.active {
    display: flex;
    flex-direction: row-reverse;
}

/* SHOPPING CART ASIDE */

.shopping-cart-aside {
    /* 
    z index needs to be more than
    screen overlay
    */
    z-index: 999;
    background-color: aliceblue;
}

.shopping-cart-aside.inactive {
    display: none;
}

/* SHOPPING CART MAIN */

.shopping-cart-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 27vw;
}

.shopping-cart-wrapper footer {
    width: 90%;
}

.shopping-cart-body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.difference-num {
    color: var(--color-secondary);
}

.totals-display {
    text-align: left;
    color: var(--color-text-light);
}

.totals-display strong{
    color: var(--color-text);
}

.checkout-details-table .right-table-data {
    text-align: right;
}

/* INDIVIDUAL ITEMS */

.cart-item-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .75rem;
}
.cart-item-wrapper {
    padding-bottom: 5px;
    position: relative;
}
.cart-item-wrapper:before{
    content: "";
    position: absolute;
    width: 95%;
    height: 1px;
    bottom: 0;
    left: 3%;
    border-bottom: 1px solid var(--color-text-light);
}
.cart-item-wrapper h5 {
    font-size: .75rem;
}

.cart-item-wrapper .variant-icon-wrapper {
    width: 4rem;
    margin: 1rem;
}

.cart-item-wrapper span {
    line-height: 1.5;
}

.cart-item-wrapper img {
    border-radius: 50%;
    width: 100%;
}

.cart-item-content-wrapper {
    display: flex;
}

.variant-title {
    font-style: italic;
    color: var(--color-text-light);
}
/* QTY DISPLAY WRAPPER */

.qty-display-wrapper {
    display: flex;
    justify-content: left;
    margin-top: .75rem;
}

/* CART QTY ADJUSTER */

.cart-qty-adjuster {
    margin-right: 2rem;
}

.cart-qty-adjuster input, .cart-qty-adjuster button {
    border-radius: 0;
    text-align: center;
    border: 1px var(--color-text-light) solid;
    background: aliceblue;
    width: 1.5rem;
}
.cart-qty-adjuster button {
    cursor: pointer;
}

.cart-qty-adjuster input {
    width: 2rem;
}

.remove-item-btn {
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px var(--color-secondary) solid;
    cursor: pointer;
    color: var(--color-secondary);
    padding: 0;
}